{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">All posts</h1>
    {% for post in posts %}
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title"><a href="{% url 'blog:post-detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p class="card-text">{{ post.content }}</p>
          <p class="card-text"><small class="text-muted">Author: {{ post.owner.username }}</small></p>
        </div>
      </div>
    {% endfor %}
    {% include 'pagination.html' %}
  </div>
{% endblock %}
